@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  background-color: rgb(70, 105, 143);
  color: silver;
}
